@media only screen and (max-width: 1200px) {
  .l-features {
    justify-content: center;
    flex-wrap: wrap;

    .c-devices {
      transform: translateX(0);
    }
  }
  
  .l-sections {
    width: fit-content;
    padding: 8rem 0;
  }

  .c-section {
    &__title-3 {
      font-size: 3.4rem;

      // This would work better with Javascript
      &--left {
        align-self: center;
      }
    }

    // This also
    &__text {
      &--left {
        text-align: center;
      }
    }
  }

  .c-devices {
    &__image {
      max-width: 100%;
    }
  }

  .l-horizontal-features {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .l-companies {
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
  }

  .l-footer {
    flex-wrap: wrap;
    align-items: center;

    height: fit-content;
    padding: 4rem 5rem;
  }
}
